<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="jumbotron col-md-4">
          <h3>MESS FOOD ANALYSIS</h3>
        </div>
      </div>
      <form action="/process" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4">
            <label>Your Name:</label>
            <input type="text" name="name" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Hall Of Residence:</label>
            <input type="text" name="Hall" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Week Day:</label>
            <select name="Week day" class="form-control">
              <option value="None">Select an option</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thrusday">Thrusday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Meal:</label></br>
            <input type="radio" name="Meal" value="Breakfest"> Breakfest
            <input type="radio" name="Meal" value="Lunch"> Lunch
            <input type="radio" name="Meal" value="Snacks"> Snacks
            <input type="radio" name="Meal" value="Dinner"> Dinner<br>  
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>What was the condition of the vegetables before cooking?</label></br>
            <input type="radio" name="Freshness" value="Stale"> Stale
            <input type="radio" name="Freshness" value="Fresh"> Fresh<br>  
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>How experienced is the mess worker who is cooking the food?</label></br>
            <input type="radio" name="Experience" value="1 Year"> &lt; 1 year
            <input type="radio" name="Experience" value="1-3 Year"> 1-3 year
            <input type="radio" name="Experience" value="3-5 Year"> 3-5 year
            <input type="radio" name="Experience" value="5 Year"> &gt; 5 year<br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Were the vegetables washed and peeled properly?</label></br>
            <input type="radio" name="Washed and peeled" value="Yes"> Yes
            <input type="radio" name="Washed and peeled" value="No"> No<br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Is the mess free from animals like cats and dogs?</label></br>
            <input type="radio" name="Animals" value="Yes"> Yes
            <input type="radio" name="Animals" value="No"> No<br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>How would you rate the overall cleanliness of the mess?</label></br>
            <input type="radio" name="Cleanliness" value="Excellent"> Excellent
            <input type="radio" name="Cleanliness" value="Average"> Average
            <input type="radio" name="Cleanliness" value="Dirty"> Dirty<br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Comment (optional):</label>
            <textarea name="comments" class="form-control" rows="3"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
          </div>
        </div>
        </form>
      </form>
    </div>
  </body>
</html>
